/*** CSS reset & common sense styles ***/

@font-face {
  font-family: 'Roboto Variable';
  src: url('/RobotoVariable-subset.woff2') format('woff2');
  font-weight: 1 999;
  font-display: swap;
}

@font-face {
  font-family: 'Roboto Mono';
  src: url('/RobotoMono-regular.woff') format('woff');
  font-weight: 400;
  font-display: swap;
}

html {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

body, #sapper {
  flex: 1;
  height: 100%;
}

body, html {
  margin: 0;
  padding: 0;
  font-family: 'Roboto Variable', Roboto, -apple-system, BlinkMacSystemFont, Segoe UI, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  background-color: #141414;
}

* {
  box-sizing: border-box;
  transition: background-color 400ms ease, opacity 400ms ease, color 250ms ease, stroke 200ms ease-out, fill 200ms ease-out, transform 200ms ease-in-out;
}

*:focus-visible, *:focus {
  outline: #4891FF solid 1.5px;
}

*::before, *::after {
  box-sizing: border-box;
}

p, h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
}

button {
  margin: 0;
  border: none;
  cursor: pointer;
  padding: 0;
  background: none;
}

button:disabled {
  cursor: not-allowed;
  opacity: 0.4;
}

a {
  color: inherit;
  cursor: pointer;
  text-decoration: none;
}

input::-moz-focus-inner {
  border: 0;
  margin: 0;
  padding: 0;
}

ul, ol, dd, dl {
  margin: 0;
  padding: 0;
  list-style: none;
}

@media (prefers-reduced-motion: reduce) {
	* {
		transition: none;
	}
}